/*reset e config padrão*/
* {
    box-sizing: boder-box;
    padding: 0;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    background: #F3F5F7;
}

h2 {
    color: var(--title);
}

#container-area-noticias p {
    color: var(--text);
}
/*reset e config padrâo*/

/*variaveis*/
:root {
    --blue: #3EA1DB;
    --blue-dark: #574AE8;
    --white: #FFF;
  
    --title: #313131;
    --text: #B6B6B6;
    
    --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}
/*variaveis*/

/*area-top*/
#area {
    max-width: 920px;
    margin: 0 auto;
}

#container-top {
    background-image: var(--linear);
    margin-bottom: 80px;
    padding: 20px;
    font-size: 20px;
    color: var(--white);
}

#container-top-name {
    display: flex;
    justify-content: space-between;
}

#container-top-barrapesquisa {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon {
    background:red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 60px;
    color: white;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
}

#container-top-barrapesquisa input{
    width: 100%;
    height: 60px;
    outline: none;
    border: none;
    color: white;
    background: rgba(255, 255, 255, 0.2);
}

::-webkit-input-placeholder {
    color: white;
}
/*area-top*/

/*area-noticias*/
#container-area-noticias {
    max-width: 920px;
    margin: 0 auto;
}

.container-datanoticia {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container-noticia {
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    margin: 50px;
}
/*area-noticias*/
